.confirmation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  text-align: center;
  background-color: #fdf6e3;
  font-family: "Shippori Mincho B1", serif;
  background-image: url(../../assets/Images/conf.jpg);
  background-position: center;
  background-size: cover;

  h1 {
    color: #7b130c;

    font-size: 2rem;
  }

  p {
    color: #333;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .success-animation {
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }
  }
}
