body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfaf4;
    color: #333;
}

.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fdfaf4;
}

.form-container {
    max-width: 600px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

h1 {
    font-size: 2rem;
    color: #333;
    // margin-bottom: 1rem; spilling into other page
    font-weight: bold;
}

p {
    font-size: 1rem;
    // line-height: 1.5;
    // margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 0.5rem;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button.submit-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #f38375;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button.submit-button:hover {
    background-color: #d56b61;
}

@media (min-width: 768px) {
    .contact-us {
        flex-direction: row;
    }

    .form-container {
        margin: 2rem;
    }
}
