

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 700;
    color:#181818;
  }
  
  .header {

    // background-color: #FAFAFA;
      // background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__left {
      display: flex;
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  
    &__logo { 
      width: 110px;
    }
  
    // &__brand {
    //   font-size: 1.2rem;
    //   font-weight: bold;
    //   color: #000;
    // }
  
    &__list {
      display: flex;
      list-style: none;
      gap: 2rem;
    }
  
    &__item {
      &__link {
        text-decoration: none;
        font-size: 1rem;
        color: #000;
        font-weight: 500;
      }
    }
  
    &__cta {
      padding: 0.5rem 1rem;
      background-color: #e3426a;
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 0.9rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #c7365e;
      }
    }
  }
  