.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfaf4;
  color: #333;
  font-family: "Shippori Mincho B1", serif;
  padding: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__logo-section {
    flex: 1;
    max-width: 300px;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;

    .footer__logo {
      width: 100px;
      margin-bottom: 0.5rem;

      @media (max-width: 768px) {
        width: 80px;
      }
    }

    .footer__description {
      font-size: 0.85rem;
      color: #555;

      @media (max-width: 768px) {
        font-size: 0.75rem;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    padding: 0.5rem;

    &:hover {
      color: #0b614db6;
      cursor: pointer;
    }
  }

  &__leaf-container {
    flex: 1;
    display: flex;
    justify-content: center;

    .footer__leaf {
      width: 90px;
      height: auto;

      @media (max-width: 768px) {
        width: 60px;
      }
    }
  }

  &__links-section {
    display: flex;
    justify-content: flex-end;
    text-align: center;

    @media (max-width: 1024px) {
      justify-content: center;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &__links {
    .footer__title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.8rem;
      color: #80133f;

      @media (max-width: 768px) {
        font-size: 0.9rem;
      }
    }

    .footer__list {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          color: #333;
          transition: color 0.3s;
          font-size: 0.9rem;

          &:hover {
            color: #888;
          }

          @media (max-width: 768px) {
            font-size: 0.85rem;
          }
          
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    margin-top: 0.5rem;
    color: #666;
    width: 100%;
    padding: 1rem 0;
    // border-top: #9c9b9b51 1px solid;

    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
  }

  &__copyright {
    font-size: 0.8rem;
  }

  &__link {
    text-decoration: none;
    color: #9e0909;

    &:hover {
      color: #db598d;
    }
  }
}
