

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #f9f9f9;
  background-color: #F4F3EE;
  color: #333;
  font-family: "Shippori Mincho B1", serif;
  // margin-top: 2rem;
  padding: 1rem;


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 150px;
    // max-width: 1500px;

  }

  /* Left: Logo & Description */
  &__logo-section {
    flex: 1;
    max-width: 300px;
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    .footer__logo {
      width: 120px;
      margin-bottom: 1rem;
    }

    .footer__description {
      font-size: 0.8rem;
      color: #555;
      margin-bottom: 1rem;
    }
  }

  /* Center: Leaf */
  &__leaf-container {
    flex: 1;
    display: flex;
    justify-content: center;

    .footer__leaf {
      width: 100px; /* Adjust size as needed */
      height: auto;
    }
  }

  /* Right: Links */
  &__links-section {
    // flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__links {
    .footer__title {
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #80133f;
    }

    .footer__list {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          color: #333;
          transition: color 0.3s;
          font-size: 0.9rem;

          &:hover {
            color: #888;
          }
        }
      }
    }
  }

  /* Bottom: Copyright */
  &__bottom {
    text-align: center;
    margin-top: 2rem;
    color: #666;
  }

  &__copyright {
    font-size: 0.8rem;
  }

  &__link {
    text-decoration: none;
    color: #80133f;

    &:hover {
      color: #db598d;
    }
  }
}
